/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}


/* Set font to all body element's */
body{
    font-family: 'Open Sans', sans-serif;
}


/* Creating Grid boxes*/
.continer{
    max-width: 1600px;
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1.2fr;
    grid-template-columns: 1fr 1fr 1.2fr;
    -ms-grid-rows: 1fr 4fr 1.2fr 1.2fr;
    grid-template-rows: 1fr 4fr 1.2fr 1.2fr;
        grid-template-areas: "logo   logo   header"
                         "main   main   img-box" 
                         "quote  quote  img-box"
                         "btn1   btn2   img-box";
}

.logo{
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: logo;
    background-color: #E6F0EF;
}

.main{
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
}

.quote{
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: quote;
    background-color: #E6F0EF;
}

.btn1{
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: btn1;
    background-color: #0F792D;
}

.btn2{
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: btn2;
    background-color: #497C38;
}

header{
    -ms-grid-row: 1;
    -ms-grid-column: 3;
    grid-area: header;
}

.img-box{
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    grid-area: img-box;
    background-color: gray;
}


/* global declarations */
a{
    text-decoration: none;
}


/* Styiling contents on grid boxes */
.continer .logo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 125px;
}

.logo a{
    color: #0A7B34;
    font-size: 24px;
    font-weight: 700;
}

.continer .main{
    padding: 0 125px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.main h1{
    font-size: 36px;
    line-height: 49px;
    font-weight: 700;
    margin-bottom: 30px;
    max-width: 289px;
}


.quote{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 125px;
}

.quote h2{
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
}

.btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.btn a{
    color: white;
    font-size: 24px;
    font-weight: 700;
    -webkit-transition: btn1 .2s ease-in;
    -o-transition: btn1 .2s ease-in;
    transition: btn1 .2s ease-in;
    -webkit-transition: btn2 .2s ease-in;
    -o-transition: btn2 .2s ease-in;
    transition: btn2 .2s ease-in;
}


/* button hover */
.btn1:hover{
    background-color: #05501A;
}

.btn2:hover{
    background-color: #315227;
}



header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 30px;
}

header ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

header ul li a{
    color: black;
    font-weight: 700;
    padding: 24px 15px;
    -webkit-transition: color .2s ease-in;
    -o-transition: color .2s ease-in;
    transition: color .2s ease-in;
    -webkit-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

/* header nav  hover  */
header ul li a:hover{
    color: #09792d;
    background-color: #E6F0EF;
}

.img-box{
    background: url(../Images/3.jpg) no-repeat top center;
    background-size: cover;
}

.img-box img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}


/* animatins */
/* main */
.main h1{
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-transform: translateX(300px);
        -ms-transform: translateX(300px);
            transform: translateX(300px);
}
.main p{
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
            transform: translateX(-300px);
}
.pop-in{
    -webkit-animation: popIn cubic-bezier(1,.99,0,.01)  forwards;
            animation: popIn cubic-bezier(1,.99,0,.01)  forwards;
}

@-webkit-keyframes popIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}

@keyframes popIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        -webkit-transform: none;
                transform: none;
    }
}


/* img-box */
.slide-in{
    -webkit-animation: slideIn 2s ease-in forwards;
            animation: slideIn 2s ease-in forwards;
}

@-webkit-keyframes slideIn {
    0%{
        -webkit-transform: translateY(200px);
                transform: translateY(200px);
    }
    100%{
        -webkit-transform: none;
                transform: none;
    }
}

@keyframes slideIn {
    0%{
        -webkit-transform: translateY(200px);
                transform: translateY(200px);
    }
    100%{
        -webkit-transform: none;
                transform: none;
    }
}



/* Media querry start */
@media (max-width: 765px) {
    .img-box{
        height: 30vh;
        -o-object-fit: cover;
           object-fit: cover;
    }

    .continer{
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 100px 70px auto auto 70px;
        grid-template-rows: 100px 70px auto auto 70px;
            grid-template-areas: "logo  logo"
                             "header header"
                             "img-box  img-box"
                             "main  main"
                             "quote quote"
                             "btn1   btn2";
    }

    .continer .logo{
        padding: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    header{
        background-color: #C3DFDD;
        padding: 0;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .continer .main{
        padding: 30px 40px;
        margin-top: -36px;
        margin-bottom: 61px;
    }

    .main h1{
        font-size: 30px;
        line-height: 39px;
        margin-top: 25px;
    }

    .quote{
        padding: 30px 40px;
        margin-top: -54px;
    }

    .quote h2{
        font-size: 20px;
        line-height: 29px;
    }

    .btn{
        margin-top: 0;
        padding: 35px 0;
    }

    .btn a{
        font-size: 19px;
    }

    header ul li a{
        padding: 24px 20px;
    }

    
        img-box
        .slide-in{
            -webkit-animation: slideIn 2s ease-in forwards;
                    animation: slideIn 2s ease-in forwards;
        }

        @-webkit-keyframes slideIn {
            0%{
                -webkit-transform: translateY(-190px);
                        transform: translateY(-190px);
            }
            100%{
                -webkit-transform: none;
                        transform: none;
            }
        }

        @keyframes slideIn {
            0%{
                -webkit-transform: translateY(-190px);
                        transform: translateY(-190px);
            }
            100%{
                -webkit-transform: none;
                        transform: none;
            }
        }

    .logo{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .main{
        -ms-grid-row: 4;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .quote{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .btn1{
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }

    .btn2{
        -ms-grid-row: 6;
        -ms-grid-column: 2;
    }

    header{
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }

    .img-box{
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
}

@media (min-width: 765px) and (max-width: 912px) {
    .quote{
        padding-left: 120px;
    }
}

@media (min-width: 920px) and (max-width: 1024px) {
    .quote{
        padding-left: 80px;
    }
}

@media (min-width: 1144px) and (max-width: 1230px) {
    .quote{
        padding-left: 70px;
    }
}
